.content-wrapper
  .content-header
    .container-fluid
      .row.mb-2
        .col-sm-12
          %ol.breadcrumb
            %li.breadcrumb-item
              %a{:href => root_path} Home
            %li.breadcrumb-item.active
              Patients
  .w-100
  .content-wrapper
    .content-header
      .container-fluid
        .row
          .col-sm-12
            .col-md-3
              .input-group
                .input-group-btn
                  = link_to 'Add New Patients', new_patient_path,
                    class: 'btn btn-primary float-right btn-sm'
            %br
            .col-md-4
              = form_tag patients_path, method: :get do
                .input-group.input-group-sm
                  = text_field_tag :search_query, params[:search_query], class: "form-control", placeholder: "Search by name"
                  = button_tag type: "submit", class: "btn btn-primary btn-sm" do
                    = fa_icon "search"
                  = link_to patients_path, class: "btn btn-primary btn-sm" do
                    = fa_icon "refresh"
            %br
  .content
    .container-fluid
      .row
        .col-lg-12
          .card
            .card-body
              .table-responsive
                %table.table.table-bordered.table-hover.dataTables.table-sm.responsive.nowrap{style: 'width:100%!important'}
                  %thead
                    %tr
                      %th.all #
                      %th.all Name
                      %th.all Date
                      %th.desktop Number
                      %th.desktop Description
                  %tbody
                    - @patients.each.with_index(1) do |patient, i|
                      %tr
                        %td= i
                        %td= patient.name
                        %td= patient.date.strftime("%d %B %Y")
                        %td= patient.number
                        %td= patient.description